*-backups
fp-info-cache
Water47/gerber/01Top/Water47_Top-B_Cu.gbr
Water47/gerber/01Top/Water47_Top-B_Mask.gbr
Water47/gerber/01Top/Water47_Top-B_Silkscreen.gbr
Water47/gerber/01Top/Water47_Top-Edge_Cuts.gbr
Water47/gerber/01Top/Water47_Top-F_Cu.gbr
Water47/gerber/01Top/Water47_Top-F_Mask.gbr
Water47/gerber/01Top/Water47_Top-F_Silkscreen.gbr
Water47/gerber/01Top/Water47_Top-NPTH.drl
Water47/gerber/01Top/Water47_Top-PTH.drl
Water47/gerber/02PCB_Layer/Water47_PCB_Layer-B_Cu.gbr
Water47/gerber/02PCB_Layer/Water47_PCB_Layer-B_Mask.gbr
Water47/gerber/02PCB_Layer/Water47_PCB_Layer-B_Silkscreen.gbr
Water47/gerber/02PCB_Layer/Water47_PCB_Layer-Edge_Cuts.gbr
Water47/gerber/02PCB_Layer/Water47_PCB_Layer-F_Cu.gbr
Water47/gerber/02PCB_Layer/Water47_PCB_Layer-F_Mask.gbr
Water47/gerber/02PCB_Layer/Water47_PCB_Layer-F_Silkscreen.gbr
Water47/gerber/02PCB_Layer/Water47_PCB_Layer-NPTH.drl
Water47/gerber/02PCB_Layer/Water47_PCB_Layer-PTH.drl
Water47/gerber/03Bottom/Water47_Bottom-B_Cu.gbr
Water47/gerber/03Bottom/Water47_Bottom-B_Mask.gbr
Water47/gerber/03Bottom/Water47_Bottom-B_Silkscreen.gbr
Water47/gerber/03Bottom/Water47_Bottom-Edge_Cuts.gbr
Water47/gerber/03Bottom/Water47_Bottom-F_Cu.gbr
Water47/gerber/03Bottom/Water47_Bottom-F_Mask.gbr
Water47/gerber/03Bottom/Water47_Bottom-F_Silkscreen.gbr
Water47/gerber/03Bottom/Water47_Bottom-NPTH.drl
Water47/gerber/03Bottom/Water47_Bottom-PTH.drl
Water47/gerber/04Cover/Water47_Cover-B_Cu.gbr
Water47/gerber/04Cover/Water47_Cover-B_Mask.gbr
Water47/gerber/04Cover/Water47_Cover-B_Silkscreen.gbr
Water47/gerber/04Cover/Water47_Cover-Edge_Cuts.gbr
Water47/gerber/04Cover/Water47_Cover-F_Cu.gbr
Water47/gerber/04Cover/Water47_Cover-F_Mask.gbr
Water47/gerber/04Cover/Water47_Cover-F_Silkscreen.gbr
Water47/gerber/04Cover/Water47_Cover-NPTH.drl
Water47/gerber/04Cover/Water47_Cover-PTH.drl
